<div class="beside">
  <div class="beside">
    <dl>
      <dt>Subscriptions count</dt>
      <dd>{{ subCount$ | async }}</dd>
    </dl>
    <dl>
      <dt>Memory (in chrome)</dt>
      <dd>{{ usedStr }}</dd>
    </dl>
    <dl>
      <dt>Max heap</dt>
      <dd>{{ max }}</dd>
    </dl>
    <dl>
      <dt>Total heap</dt>
      <dd>{{ total }}</dd>
    </dl>
    <dl>
      <dt>Used heap</dt>
      <dd>{{ used }}</dd>
    </dl>
  </div>
</div>
<app-memory-chart></app-memory-chart>
<div>
  <button pButton class="ui-button-rounded" (click)="loadStuff()" type="button" label="Kill me"></button>
</div>
<div>
  <h3>Experiments / Conclusion</h3>
  <ul>
    <li>Adding 10000 subscription in an empty component ~> 12 Mbyte</li>
    <li>Navigation with no unsubscribes keeps component instance in the memory -> Visible effects?</li>
  </ul>
</div>
