<div [ngClass]="{'padLeft':true}" appShowDomChanges>
  <h1>Change detection</h1>
    <app-cd-bound-button></app-cd-bound-button>
  <app-container-default>
    <app-cd-bound-button></app-cd-bound-button>
  </app-container-default>
  <app-container-push>
    <app-cd-bound-button></app-cd-bound-button>
  </app-container-push>
</div>
