<h1>List with ngFor and trackBy</h1>
<div class="layout" appShowDomChanges>
  <div #list class="layout">
    <div>
      GoodList:
      <app-list-item *ngFor="let item of listItems; trackBy: getIndex" [data]="item">
      </app-list-item>
    </div>

    <div>
      BadList:
      <app-list-item *ngFor="let item of listItems" [data]="item">
      </app-list-item>
    </div>
  </div>

  <pre>
  Conclusion:

  To reproduce the scenario, the datasource and its elements must be immutables, otherwise
  the list elements refresh with normal component change detection, so the invalid behavior is not
  visible.

  In case of immutable elements, the trackBy resolves the changes and only the specific list item
  gets refreshed.

  There is an example with directive:

  https://nitayneeman.com/posts/listening-to-dom-changes-using-mutationobserver-in-angular/
</pre>
</div>
