
<ul [ngClass]="{ 'padLeft' : true}">
  <li>
    <app-merge-concat-multiple-http-button url="http://localhost:3000/all" label="Concat then merge"></app-merge-concat-multiple-http-button>
  </li>
  <li>
    <app-load-multiple-http-button url="http://localhost:3000/all" label="Call service directly"></app-load-multiple-http-button>
  </li>
  <li>
    <app-load-multiple-http-button url="/api/proxy/all" label="Call service via proxy"></app-load-multiple-http-button>
  </li>
  <li>
    <app-load-simple url="/api/proxy/conf.js"></app-load-simple>
  </li>
  <li>
    <app-load-simple url="/https/proxy/"></app-load-simple>
  </li>
</ul>
