
<p-menu [ngClass]="{'fixed':true}" [model]="menuItems"></p-menu>
<div [ngClass]="{padLeft:true}">
  <router-outlet></router-outlet>
</div>
<div [ngClass]="{padLeft:true}">
  <app-logger></app-logger>
</div>
